* {
  box-sizing: border-box;
}
body {
  font-family: microsoft yahei, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background: #007fff;
  margin: 2px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: '.';
  display: block;
  clear: both;
  width: 0;
  height: 0;
  overflow: hidden;
}
.tabs,
.tabs>li {
  float: left;
}
.tabs {
  color: #767676;
  font-size: 14px;
  -webkit-app-region: drag;
  width: 100%;
  padding: 8px 10px 0 10px;
  background-color: #eeeeee;
}
.tabs>li {
  user-select: none;
  -webkit-app-region: no-drag;
  height: 30px;
  line-height: 30px;
}
.tabs>li.tab-window {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px;
  transition: background-color .3s;
  position: relative;
}
.tabs>li.tab-window:hover {
  background-color: #dddddd;
}
.tabs>li.tab-window.active {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-bottom: 0;
}
.tabs>li.tab-window.right::after {
  content: '';
  display: inline-block;
  border-right: 1px solid #cccccc;
  height: 60%;
  position: absolute;
  right: 0;
  bottom: 20%;
}
.tabs>li.tab-window.left::before {
  content: '';
  display: inline-block;
  border-left: 1px solid #cccccc;
  height: 60%;
  position: absolute;
  left: 0;
  bottom: 20%;
}
.tabs>li.tab-add {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid;
}
main {
  padding: 8px 10px;
  background-color: #ffffff;
  /* border-bottom: 1px solid #cccccc; */
}
main > form > input {
  display: inline-block;
  width: 60%;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 4px 8px;
  outline: 0;
  background-color: #eee;
  transition: background-color .3s;
}
main > input:hover {
  background-color: #dedede;
}
footer {
  height: 31px;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}